!.gitignore
!armorsets/
!bettercombat/
!bettermobcombat/
!combatroll/
!epicknights/
!fancymenu/
!iguanatweaksreborn/
!legendarysurvivaloverhaul/
!openloader/
!rpgmana/
!rpgsp/
!spell_engine/
!starterstructure/
!asteorbar-client.toml
!attack_again-common.toml
!betterdays-client.toml
!betterdays-common.toml
!betterinvisibility-common.toml
!damagenumbers.json
!dynamiccrosshair.json5
!fallingattack-common.toml
!fallingattack-usable-items.json
!fireoverlaycontroller.toml
!firstperson.json
!globalgamerules-common.toml
!great_scrollable_tooltips.toml
!insanelib-common.toml
!irons_rpg_tweaks-client.toml
!lhmiracleroad-common.toml
!lootbeams-client.toml
!majruszlibrary.json
!majruszsdifficulty.json
!more_potion_effects.toml
!mutantmonsters-common.toml
!mutantmonsters-server.toml
!passablefoliage-common.yaml
!RPG-HUD
!shouldersurfing-client.toml
!starterstructure.json5
!tinyinv-client.toml
!travelerstitles-forge-1_20.toml
!waystones-common.toml
